body {
  background-color: #dff8eb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#taskInput {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#taskInput:focus {
  outline: none;
}

#taskInput:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#addButton {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

#addButton:hover {
  background-color: #3e8e41;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.8s;
}

li span {
  font-size: 18px;
}

li button {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #a28f9d4a;
}
#taskListContainer {
  display: flex;
  justify-content: center;
}
